<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block  th:insert="fragments :: flg_head"></th:block>
<style type="text/css">
	h1{
		color:navy;
	}
</style>
</head>
<body th:with="var='<i>내가 제일좋아하는 언어</i>'">

<h1>타임리프 공부하기~~!</h1>
<h2>1.변수 선언하고 출력</h2>
<pre>
	변수선언할때 쓰는 속성 => th:with
	변수 출력(자동으로 이스케이프 처리) => ${...}
	선언된 변수의 스코프는 해당 변수가 선언된 html영역을 따라간다.
		-> 부모태그나 형제(pre와 span은 형제)태그에서는 변수사용이 불가능함.
	타임리프에 쓰는 리터럴은 문서를보시면은, 리터럴파트가 있습니다 4.6에 ㅅㅂ못들었음 짱나
</pre>
<span th:text="${var}">변수 출력시</span>
<span th:text="|${var}는 자바입니당|">리터럴 변수와같이 출력시</span>

<h2>2.인라인 표현식</h2>
<pre th:text="|[[...]]를 사용해 태그안에 변수를 출력할수이씀|"></pre>
<p>인라인 표현식 : [[${var}]]</p>

<h2>3.선택변수 표현식</h2>
<div>
	<p th:text="${session.userInfo.userId}"></p>
	<p th:text="${session.userInfo.password}"></p>
	<p th:text="${session.userInfo.email}"></p>
	<p th:text="${session.userInfo.grade}"></p>
</div>
더 간단하게 가능함
<div th:object="${session.userInfo}">
	<p th:text="|아이디 :*{userId}|"></p>
	<p th:text="|비번 :*{password}|"></p>
	<p th:text="|이메일 :*{email}|"></p>
	<p th:text="|등급 :*{grade}|"></p>
	<p th:text="|멤버해시코드 :*{choisunaMemberHashcode}|">메소드</p>
</div>

<h2>4.링크 표현식</h2>
<pre>
	링크표현식: @{...}
	장점
	1.context path를 자동으로 추가함(root...뭐지그게?)
	2.URL QueryString을 편하게 작성할수있음
</pre>
<a th:href="@{https://www.naver.com?test=100&name=hmd}">네이버에게 여러개 파라ㅣ미터를 전달하장</a>
이렇게 query작성했던것을, 요렇게 가능합니당
<a th:href="@{https://www.naver.com(test=100,name=hmd)}">네이버에게 여러개 파라ㅣ미터를 전달하장</a>
<br>
<a th:href="@{https://www.naver.com(id=${session.userInfo.userId})}">네이버에게 사용자의 아이디를 전달하자</a>

<h2>5.메세지 표현식</h2>
<pre>
	message 표현식 : #{...}
	messages.properties에 작성한 속성값을 읽어와 출력
</pre>
<p th:text="#{toy.domain}"></p>

<h2>6. fragment 표현식</h2>
<pre>
	인크루드..생각하면됨
	fragment 표현식 : ~{...}
	th:fragment : 공통으로 사용할 html요소를 fragment로 지정
	th:insert   : html요소의 값을 fragment로 대체 (안으로 추가해줌)
	th:replace  : html요소를 fragment로 대체 (얘자체가 바뀜)
</pre>
<div class="outer" th:insert="fragments :: example">앞에는 파일명(경로가있으면 경로도),뒤에는 id</div>
<div class="outer" th:replace="fragments :: example"></div>


<h2>7. unescape처리</h2>
<pre th:text="| 1. th:utext 속성을 사용, 2. [(...)]을 사용 |">
타임리프는 기본적으로 이스케이프처리가 되어있음(불법어쩌고막기위해)
</pre>
<p th:text="${var}"></p>
<p th:utext="${var}">이스케이프 해제</p>
<p>[(${var})]</p>

<h2>8. th:attr / th:attrappend 뒤에붙음  / th:attrprepend 앞에붙음 </h2>
<div th:attr="style='background-color:yellow', class='attr'">th:attr</div>
<div style="background-color:black" th:attrappend="style='; color:yellow'">th:attr</div>
<div style="background-color:red" th:attrprepend="style='color:yellow ;'">th:attr</div>

<h2>9.조건문/반복문</h2>
<h3> th:if / th:unless </h3>
<p th:if="${score.avg >= 80}" th:text="|${session.userInfo.userId}님 합격하셧습니다|"></p>
<p th:unless="${score.avg >= 80}" th:text="|${session.userInfo.userId}님 불합격하셧습니다|"></p>

<h3>th:each / th:switch / th:case</h3>
<h4 th:text="|${session.userInfo.userId}의 과목별 학점|"></h4>
<ul>
	<li th:each="entry : ${score}" th:unless="${entry.key=='avg'}"> 
		자바 api에서 entry검색하면 key랑 value 가져올수있음!!
		과목명 : [[${entry.key}]] : [[${entry.value}]]
	</li>

	<li th:each="key : ${score.keySet}">
		[[${key}]] : [[${score.get(key)}]]
		<th:block th:if="${score.get(key) >= 90}">(A)</th:block>
		<th:block th:if="${score.get(key) >= 80}" th:unless="${score.get(key) >= 90}">(B)</th:block>
		<th:block th:if="${score.get(key) >= 70}" th:unless="${score.get(key) >= 80}">(C)</th:block>
		<th:block th:if="${score.get(key) >= 60}" th:unless="${score.get(key) >= 70}">(D)</th:block>
		<th:block th:if="${score.get(key) < 60}">(E)</th:block>
	</li>
	
	<li th:each="key : ${score.keySet}" th:switch="${score.get(key)/10}">
		[[${key}]] : [[${score.get(key)}]]
		<th:block th:case="${10}">(A)</th:block>
		<th:block th:case="${9}">(A)</th:block>
		<th:block th:case="${8}">(B)</th:block>
		<th:block th:case="${7}">(C)</th:block>
		<th:block th:case="${6}">(D)</th:block>
		<!-- 디폴트 -->
		<th:block th:case="*">(E)</th:block>
	</li>
</ul>

<h3>원하는 횟수만큼 반복하는 반복문</h3>
<div th:each="var,status : ${#numbers.sequence(10,13)}">
	값:[[${var}]] <br>
	status.index : [[${status.index}]] <br>
	status.count : [[${status.count}]] <br>
	status.size : [[${status.size}]] <br>
	status.current : [[${status.current}]] <br>
	status.even : [[${status.even}]] <br>
	status.odd : [[${status.odd}]] <br>
	status.first : [[${status.first}]] <br>
	status.last : [[${status.last}]] <br>
</div>


</body>
</html>